body{
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}
section{
    height: 500px;
}
.first-section{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
h1{
    font-size: 45px;
}
.first-section img{
    padding-top: 20px;
}
.half-content{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
}
.half-content img{
    width: 100%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.second-section{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange-highlight{
    color: orange;
}
.single-experience{
    border-radius: 5px;
    box-shadow: 10px 10px 40px grey;
    height: 60%;
}
.experience-section{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
}